/* .btn-pop-in {
  
  animation: popInBounce 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  

  backface-visibility: hidden;
}

@keyframes popInBounce {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  70% {
    transform: scale(1.08); 
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
} */
 /* كلاس الأنيميشن المخصص للزر */
.btn-slide-in {
  /* الحركة تستغرق نصف ثانية وتكون مرنة وناعمة */
  animation: slideInRight 1.0s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* تعريف حركة السلايد من اليمين إلى اليسار والتدكن */
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(23px); /* يبدأ مزاحاً جهة اليمين بـ 40 بكسل */
  }
  100% {
    opacity: 1;
    transform: translateX(0);    /* يستقر في مكانه الأصلي تماماً */
  }
}
.btn-slide-in-logo {
  /* الحركة تستغرق نصف ثانية وتكون مرنة وناعمة */
  animation: slideInLeft 1.0s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* تعريف حركة السلايد من اليمين إلى اليسار والتدكن */
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(40px); /* يبدأ مزاحاً جهة اليمين بـ 40 بكسل */
  }
  100% {
    opacity: 1;
    transform: translateX(0);    /* يستقر في مكانه الأصلي تماماً */
  }
}

