<nav [class.scrolled]="isScrolled">
  
  <div class="mx-auto flex h-18 w-full items-center justify-between">
    
    <div class="nav-logo">
      
      <span class="nav-logo-icon">
        @if (showstarted) {
         
          <img src="assets/images/IMG_5640.png" class="rounded-xl h-23 w-23" alt="logo">
          
        }
        @else {
           <img src="assets/images/aaa.png" class="rounded-xl h-23 w-23" alt="logo">
           
          
        }
        
      </span>
      @if (showstarted) {
         <span class="nav-logo-text">
        <span class=" pt-3 text-black font-bold"> شركة الأمان الرقمي الجديد</span>
        <span class="sub pt-1 gap-2"> لتقنية المعلومات و الاتصالات</span>
      </span>
      }
      @else {
          <span class="nav-logo-text">
        <span class="main pt-3"> شركة الأمان الرقمي الجديد</span>
        <span class="sub pt-1 gap-2"> لتقنية المعلومات و الاتصالات</span>
      </span>
      }
    
    </div>

    <ul class="nav-links">
      <li><a routerLink="/" fragment="hero">الرئيسية</a></li>
      <li><a routerLink="/" fragment="services">خدماتنا</a></li>
      <li><a routerLink="/" fragment="portfolio">أعمالنا</a></li>
      <li><a routerLink="/" fragment="about">من نحن</a></li>
      <li><a routerLink="/" fragment="contact">اتصل بنا</a></li>
    </ul>
    
    <button class="shadow__btn">
     <a routerLink="/" fragment="contact" class="nav-cta">جدولة استشارة</a>

    </button>
   
  </div>
</nav>